@page "/"
@attribute [Authorize]
@inject ILocalStorageService localStorageService

<PageTitle>Home</PageTitle>

<div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h2>Farms</h2>
                <p>View your farms</p>
                <NavLink href="/farms" class="stretched-link"></NavLink>
            </div>
        </div>
    </div>
    @if (isAdmin)
    {
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2>Veterinarians</h2>
                    <p>View veterinarians</p>
                    <NavLink href="/veterinarians" class="stretched-link"></NavLink>
                </div>
            </div>
        </div>
    }
</div>

@code {
    private bool isAdmin = false;

    protected override async Task OnParametersSetAsync()
    {
        isAdmin = await localStorageService.GetItemAsync<bool>("isAdmin");
        await base.OnParametersSetAsync();
    }
}